<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body>
   
    <!-- <p>week000</p>
    <p id="version">&#x26c4;&#x26c4;&#x26c4;&#x26c4;</p> -->
    <div id="allcontent">
        <%- include('logo.ejs') %>
        <%- include('header.ejs') %>
        <%- include('main.ejs') %>
        <%- include('footer.ejs') %>
    </div>
</body>

</html>